Repository OluOlus/terraform-landing-zone: changes, and which pre-commit hooks are due for each by the changed paths.
All: uk-compliance-check, mandatory-tags-check, region-restriction-check

uk-compliance-check:
  name: UK Compliance Check
  description: Validates UK data residency and compliance requirements
  entry: scripts/validation/uk-compliance-check.sh
  language: script

mandatory-tags-check:
  name: Mandatory Tags Check
  description: Ensures all resources have mandatory UK tags
  entry: scripts/validation/mandatory-tags-check.sh
  language: script

region-restriction-check:
  name: Region Restriction Check
  description: Validates that all resources are restricted to specified regions
  entry: scripts/validation/region-restriction-check.sh
  language: script

style: format terraform files
  environments/logging/main.tf
  environments/networking/main.tf
  environments/production-uk/main.tf
Due: uk-compliance-check, mandatory-tags-check, region-restriction-check

fix: update workflow to handle modules with provider aliases
  .github/workflows/terraform-validate.yml
Due: uk-compliance-check

fix: security hardening and CI improvements for UK landing zone
  terraform-landing-zone/.github/workflows/security-scan.yml
  terraform-landing-zone/.github/workflows/terraform-validate.yml
  terraform-landing-zone/environments/logging/main.tf
  terraform-landing-zone/modules/security-services/guardduty/uk-threat-lists.tf
  terraform-landing-zone/modules/security-services/guardduty/variables.tf
  terraform-landing-zone/shared/versions.tf
Due: uk-compliance-check, mandatory-tags-check, region-restriction-check

feat: production-grade hardening for UK AWS Secure Landing Zone
  .gitignore
  .markdownlint.yml
  .terraform-docs.yml
  backend-configs/README.md
  backend-configs/logging.hcl.example
  backend-configs/management.hcl.example
  backend-configs/networking.hcl.example
  backend-configs/non-production-uk.hcl.example
  backend-configs/production-uk.hcl.example
  backend-configs/sandbox.hcl.example
  backend-configs/security.hcl.example
  environments/logging/terraform.tfvars.example
  environments/management/terraform.tfvars.example
  environments/networking/terraform.tfvars.example
  environments/non-production-uk/terraform.tfvars.example
  environments/production-uk/terraform.tfvars.example
  environments/sandbox/terraform.tfvars.example
  environments/security/terraform.tfvars.example
  modules/avm-foundation/management-account/README.md
  modules/logging/cloudtrail/README.md
  modules/logging/log-archive/README.md
  modules/logging/log-retention/README.md
  modules/management/backup/README.md
  modules/management/cicd/README.md
  modules/management/cost-management/README.md
  modules/management/monitoring/README.md
  modules/networking/dns/README.md
  modules/networking/network-firewall/README.md
  modules/networking/transit-gateway/README.md
  policies/scps/iam-hardening.json
  policies/scps/service-restrictions.json
  scripts/validation/mandatory-tags-check.sh
  scripts/validation/region-restriction-check.sh
  tests/property/compliance/uk_compliance_test.go
  tests/property/data-residency/data_residency_test.go
  tests/property/data-residency/uk_data_residency_test.go
  tests/property/foundation/foundation_test.go
  tests/property/security/security_test.go
Due: uk-compliance-check

Improve fork and contribution guidance
  README.md
Due: none

Remove Claude local config
  .claude/settings.json
  .gitignore
Due: uk-compliance-check

Improve test automation targets
  Makefile
  scripts/validation/run-all-tests.sh
  tests/integration/README.md
Due: none

Add optional Control Tower integration
  README.md
  docs/architecture/README.md
  docs/compliance/COMPLIANCE.md
  docs/deployment/DEPLOYMENT_GUIDE.md
  docs/operations/runbooks/disaster-recovery.md
  environments/management/main.tf
  environments/management/outputs.tf
  environments/management/terraform.tfvars.example
  environments/management/variables.tf
  modules/avm-foundation/control-tower/README.md
  modules/avm-foundation/control-tower/main.tf
  modules/avm-foundation/control-tower/outputs.tf
  modules/avm-foundation/control-tower/variables.tf
Due: uk-compliance-check, mandatory-tags-check, region-restriction-check

Map historical commits to OluOlus
  .mailmap
Due: none

Remove mailmap attribution override
  .mailmap
Due: none

Remove local editor settings from repo
  .gitignore
  .vscode/settings.json
Due: uk-compliance-check

Path conditions:
  uk-compliance-check: any of: \.(tf|tfvars|json|yaml|yml)$
  mandatory-tags-check: any of: \.tf$
  region-restriction-check: any of: \.tf$
