Repository OluOlus/terraform-landing-zone: changes, and which pre-commit hooks are due for each by the changed paths.
All: uk-compliance-check, mandatory-tags-check, region-restriction-check

Path conditions:
  uk-compliance-check: any of: \.(tf|tfvars|json|yaml|yml)$
  mandatory-tags-check: any of: \.tf$
  region-restriction-check: any of: \.tf$

Update README.md
  README.md
Due: none

Fix critical issues and generalize for global deployment
  .github/workflows/security-scan.yml
  .github/workflows/terraform-validate.yml
  README.md
  modules/security-services/guardduty/uk-threat-lists.tf
  modules/security/kms/main.tf
  modules/storage/s3/main.tf
Due: uk-compliance-check, mandatory-tags-check, region-restriction-check

Fix TFSec workflow failure - remove unsupported check blocks
  shared/versions.tf
Due: uk-compliance-check, mandatory-tags-check, region-restriction-check

Fix TFLint warnings - add required_version to all modules
  modules/avm-foundation/account-vending/main.tf
  modules/avm-foundation/iam-identity-center/main.tf
  modules/avm-foundation/management-account/main.tf
  modules/avm-foundation/organization/main.tf
  modules/logging/cloudtrail/main.tf
  modules/logging/log-archive/main.tf
  modules/logging/log-archive/providers.tf
  modules/logging/log-retention/main.tf
  modules/management/backup/main.tf
  modules/management/backup/providers.tf
  modules/management/cicd/main.tf
  modules/management/cloudwatch/main.tf
  modules/management/cost-management/main.tf
  modules/management/monitoring/main.tf
  modules/networking/dns/main.tf
  modules/networking/network-firewall/main.tf
  modules/networking/transit-gateway/main.tf
  modules/networking/vpc/main.tf
  modules/security-services/config/conformance-packs/main.tf
  modules/security-services/config/main.tf
  modules/security-services/guardduty/detectors/main.tf
  modules/security-services/guardduty/main.tf
  modules/security-services/security-automation/main.tf
  modules/security-services/security-automation/remediation/main.tf
  modules/security-services/security-hub/main.tf
  modules/security-services/security-hub/standards/main.tf
  modules/security/kms/providers.tf
  modules/storage/s3/main.tf
  tests/unit/management-account-test/main.tf
Due: uk-compliance-check, mandatory-tags-check, region-restriction-check

Fix Checkov configuration - simplify for GitHub Actions compatibility
  .checkov.yml
Due: uk-compliance-check

tflint fix
  .tflint.hcl
  modules/logging/log-retention/main.tf
  modules/management/cicd/main.tf
  modules/security-services/security-automation/main.tf
  modules/security-services/security-automation/remediation/main.tf
Due: uk-compliance-check, mandatory-tags-check, region-restriction-check

fix tflint v0.54.0 compatibility
  .tflint.hcl
Due: none

fix security scan workflow permissions
  .github/workflows/security-scan.yml
Due: uk-compliance-check

disable tflint recommended preset
  .tflint.hcl
Due: none

remove aws plugin to avoid rate limit
  .tflint.hcl
Due: none

add workflow-level permissions
  .github/workflows/security-scan.yml
Due: uk-compliance-check

add required version to environment files
  environments/logging/main.tf
  environments/networking/main.tf
  environments/non-production/main.tf
Due: uk-compliance-check, mandatory-tags-check, region-restriction-check

Update main.tf
  environments/management/main.tf
Due: uk-compliance-check, mandatory-tags-check, region-restriction-check

final
  MODULE_COMPLETION_STATUS.md
  modules/management/cloudwatch/README.md
  modules/management/cloudwatch/versions.tf
  modules/networking/vpc/README.md
  modules/security/kms/README.md
  modules/security/kms/versions.tf
  modules/storage/s3/README.md
  modules/storage/s3/versions.tf
Due: uk-compliance-check, mandatory-tags-check, region-restriction-check

env
  .github/workflows/compliance-checking.yml
  environments/logging/main.tf
  environments/logging/outputs.tf
  environments/logging/variables.tf
  environments/management/main.tf
  environments/networking/main.tf
  environments/networking/outputs.tf
  environments/networking/variables.tf
  environments/non-production-uk/main.tf
  environments/non-production-uk/outputs.tf
  environments/non-production-uk/variables.tf
  environments/non-production/main.tf
  environments/production-uk/main.tf
  environments/production-uk/variables.tf
  environments/sandbox/main.tf
  environments/sandbox/outputs.tf
  environments/sandbox/variables.tf
  environments/security/main.tf
  environments/security/outputs.tf
  environments/security/variables.tf
  modules/avm-foundation/organization/scps/iam-hardening.tf
  modules/avm-foundation/organization/scps/mandatory-tagging.tf
  modules/avm-foundation/organization/scps/service-restrictions.tf
  modules/avm-foundation/organization/scps/uk-data-residency.tf
  policies/compliance-packs/cyber-essentials.yaml
  policies/compliance-packs/ncsc-cloud-security.yaml
  policies/compliance-packs/uk-gdpr-compliance.yaml
Due: uk-compliance-check, mandatory-tags-check, region-restriction-check

fix: remove duplicate required_providers in modules
  modules/logging/log-archive/main.tf
  modules/management/backup/main.tf
  modules/management/cloudwatch/main.tf
  modules/security/kms/versions.tf
  modules/storage/s3/main.tf
Due: uk-compliance-check, mandatory-tags-check, region-restriction-check

env
  environments/security/main.tf
Due: uk-compliance-check, mandatory-tags-check, region-restriction-check

fix: resolve terraform validation errors across all environments
  environments/logging/main.tf
  environments/logging/outputs.tf
  environments/networking/main.tf
  environments/networking/outputs.tf
  environments/non-production-uk/main.tf
  environments/production-uk/main.tf
  environments/sandbox/main.tf
  environments/security/main.tf
  environments/security/outputs.tf
  modules/management/monitoring/main.tf
  modules/networking/network-firewall/main.tf
  modules/security-services/guardduty/variables.tf
  modules/security-services/security-automation/main.tf
  modules/security-services/security-automation/remediation/untagged-resources.tf
  modules/security-services/security-automation/variables.tf
  modules/security-services/security-hub/standards/ncsc.tf
  modules/security-services/security-hub/variables.tf
Due: uk-compliance-check, mandatory-tags-check, region-restriction-check
